@model IEnumerable<Top_2000.Models.Song>

@{
    ViewBag.Title = "Index";
}

<h2>Top 2000 Songs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <h5><b>Titel</b></h5>
        </th>
        <th>
            <h5><b>Artiest</b></h5>
        </th>
        <th>
            <h5><b>Jaar</b></h5>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>    
    <td>
        @Html.DisplayFor(modelItem => item.titel)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Artiest.naam)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.jaar)
    </td>
    @if (this.User.IsInRole("Admin"))
    {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.songid }) |
            @Html.ActionLink("Details", "Details", new {/* id=item.PrimaryKey */}) |
            @Html.ActionLink("Delete", "Delete", new {/* id=item.PrimaryKey */})
        </td>
    }
    @if (this.User.IsInRole("Gebruiker"))
    {
        <td></td>
    }
</tr>
}

</table>
